ion-header {
    ion-toolbar {
        --background: linear-gradient(118deg, #7367f0, rgba(115, 103, 240, 0.7));
        box-shadow: 0 0 10px 1px rgb(115 103 240 / 70%);
        color: white;
        font-family: "Montserrat", Helvetica, Arial, serif;
    }
}

.container {
    padding: 20px;
    margin-top: 20px;
}

 