<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <form id="form" [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
    
      <div class="col-md-12">
        <input type="text" placeholder="E-mail" formControlName="email" class="form-control">
      </div>
    
      <div class="col-md-12 mt-2">
        <input type="password" formControlName="password" placeholder="Password" class="form-control">
      </div>

      <div class="col-md-12 mt-2">
        <button type="submit" [disabled]="!credentialsForm.valid"
          class="btn btn-primary waves-effect waves-light">Login</button>
      </div>
    
    
    </form>

  </div>

  

</ion-content>
