<ion-header>
  <ion-toolbar>
    <ion-title>Ujian Berjalan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-pills mb-20" style="margin-top: 20px;" width="100%">
      <li class="nav-item"> <a href="#navpills-1" class="nav-link active" data-toggle="tab" aria-expanded="false">1</a> </li>
      <li class="nav-item"> <a href="#navpills-2" class="nav-link" data-toggle="tab" aria-expanded="false">2</a>
      </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="navpills-1" class="tab-pane active">
        <div class="row">
            Soal 1
        </div>
      </div>
    
      <div id="navpills-2" class="tab-pane">
        <div class="row">
          Soal 2
        </div>
      </div>
    
    </div>

  </div>

</ion-content>
